<!DOCTYPE html>
<html>

  <head> 
    <title>LundiS7_project</title>
    <link rel="stylesheet" type="text/css" href="../../assets/navbar.scss">
    <link rel="stylesheet" type="text/css" href="../../assets/tabs.scss">
    <link rel="stylesheet" type="text/css" href="../../assets/cards.scss">
    <link rel="stylesheet" type="text/css" href="../../assets/avatar.scss">
    <link rel="stylesheet" type="text/css" href="../../assets/buttons.scss">
    <link rel="stylesheet" type="text/css" href="../../assets/background.scss">
  </head>

  <body>
  	<header>
  		<nav class="top">
        <ul class="head_nav">
        <li id="active" class="in_head_nav"><a href="#">Home</a></li>
        <li class="in_head_nav" ><a href="#">Tabs 1</a></li>
        <li class="in_head_nav"><a href="#">Tabs 2</a></li>
        <li class="in_head_nav"><a href="#">Tabs 3</a></li>
        <li class="in_head_nav"><a href="#">Tabs 4</a></li>
        <li style="float:right"class="in_head_nav"><div class="dropdown" id="dropdown">
        <span>Dropdown</span>
        <div class="dropdown-content">
        <p>Hello World!</p>
        </div>
        </div> 
        </li>
        </ul>
      </nav>
  	</header>
  	<content>
      <div class="card">
        <img src="../../assets/sam.jpg" alt="Avatar" style="width:20%" class="rounded-circle img-raised">
        <div class="container">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
      </div>


  	</content>
  	 <footer>
       <nav class="bot">
        <ul class="foot_nav">
        <li class="in_foot_nav" id="btn-blue"><a href="#"><button>Bouton 1</button></a></li>
        <li class="in_foot_nav" class="btn-blue"><a href="#"><button>Bouton 2</button></a></li>
        </ul>
        </nav>
  	 </footer>
  </body>

</html>
